<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<style type="text/css">
		body {
			background-image: url(/assets/background.png);
			background-size: cover;
		}
	</style>
</head>
<body>
	<h1>Welcome to Hapapy-Home</h1>
</body>
</html>
</html>