<div class="container">
	<footer class="footer">
		<small>
			Copyrights &copy; by <a href="https://happy-home.herokuapp.com">Happy-Home</a>
		</small>
		<nav>
			<ul>
				<li>Connect us socially : <a href="#">&facebook;</a></li>
			</ul>
		</nav>
	</footer>
</div>